# Possible severity values: none, silent, suggestion, warning, error.
#########################################################################################################################################
# Code files.
#########################################################################################################################################
[*.{cs,vb}]
indent_style = tab
indent_size = 4

#########################################################################################################################################
# Enable to treat all Roslyn analyzer diagnostics as errors.
#########################################################################################################################################
dotnet_analyzer_diagnostic.severity = error

#########################################################################################################################################
# Editor rules.
#########################################################################################################################################

# Member 'Status' is explicitly initialized to its default value (https://learn.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/quality-rules/ca1805).
# Example: 	public int? Status { get; set; } = null;
# Reason: Clarity.
dotnet_diagnostic.CA1805.severity = none

# Add braces to 'if' statement (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0011).
# Reason: preference.
dotnet_diagnostic.IDE0011.severity = none

# Use conditional expression for assignment (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0045).
# Reason: readability, preference.
dotnet_diagnostic.IDE0045.severity = silent

# Use conditional expression for return (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0046).
# Reason: readability, preference.
dotnet_diagnostic.IDE0046.severity = silent

# Substring can be simplified (https://learn.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/style-rules/ide0057).
# Reason: readability.
dotnet_diagnostic.IDE0057.severity = silent

# 'using' statement can be simplified (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0063).
# Example: IDE0063 prefers using var a = b;  over  using (var a = b) { .. }
# Reason clarity, control.
dotnet_diagnostic.IDE0063.severity = none

# Use pattern matching (https://learn.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/style-rules/ide0078-ide0260).
# Example: if (status.State == OperationStateType.Running || status.State == OperationStateType.Pending) becomes: if (status.State is OperationStateType.Running or OperationStateType.Pending)
# Reason: readability, preference.
dotnet_diagnostic.IDE0078.severity = silent

# 'new' expression can be simplified (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0090).
# Example: IDE0090 prefers List<string> names = new();  over  List<string> names = new List<string>();
# Reason clarity.
dotnet_diagnostic.IDE0090.severity = warning

# Use primary constructor (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0290).
# Reason: readability, preference.
dotnet_diagnostic.IDE0290.severity = silent

# Collection initialization can be simplified (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0306).
# Example: IDE0306 prefers List<int> l1 = [.. Enumerable.Range(1, 10)];  over  List<int> l1 = new List<int>(Enumerable.Range(1, 10));
# Reason: readability, preference.
dotnet_diagnostic.IDE0306.severity = none

#########################################################################################################################################
# Below are the StyleCop rules that aren't enforced.
# For more info see: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/tree/master/documentation
#########################################################################################################################################

# A violation of this rule occurs when the spacing around a keyword is incorrect.
# Reason: it caused problems with the new() keyword without a space between new and ().
dotnet_diagnostic.SA1000.severity = none

# A single-line comment within a C# code file does not begin with a single space.
dotnet_diagnostic.SA1005.severity = none

# Opening square brackets should not be preceded by a space.
dotnet_diagnostic.SA1010.severity = none

# The code contains a tab or space character which is not consistent with the current project settings.
dotnet_diagnostic.SA1027.severity = none

# A call to an instance member of the local class or a base class is not prefixed with 'this.', within a C# code file.
dotnet_diagnostic.SA1101.severity = none

# The parameters to a C# method or indexer call or declaration span across multiple lines, but the first parameter does not start on the line after the opening bracket.
dotnet_diagnostic.SA1116.severity = none

# The parameters to a C# method or indexer call or declaration are not all on the same line or each on a separate line.
dotnet_diagnostic.SA1117.severity = none

# A C# statement contains parenthesis which are unnecessary and should be removed.
dotnet_diagnostic.SA1119.severity = none

# The C# comment does not contain any comment text.
dotnet_diagnostic.SA1120.severity = none

# The C# code includes an empty string, written as "".
dotnet_diagnostic.SA1122.severity = none

# The C# code contains a region within the body of a code element.
dotnet_diagnostic.SA1123.severity = none

# The C# code contains a region.
dotnet_diagnostic.SA1124.severity = none

# A violation of this rule occurs two or more attributes are placed within the same set of square brackets.
dotnet_diagnostic.SA1133.severity = none

# A violation of this rule occurs when two more more attributes are placed on the same line of code, or an attribute is placed on the same line of code as another element.
dotnet_diagnostic.SA1134.severity = none

# A C# using directive is placed outside of a namespace element.
dotnet_diagnostic.SA1200.severity = none

# An element within a C# code file is out of order in relation to the other elements in the code.
dotnet_diagnostic.SA1201.severity = none

# An element within a C# code file is out of order within regard to access level, in relation to other elements in the code.
dotnet_diagnostic.SA1202.severity = none

# A static element is positioned beneath an instance element of the same type.
dotnet_diagnostic.SA1204.severity = none

# A field name in C# is prefixed with m_ or s_.
#dotnet_diagnostic.SA1308.severity = none

# A violation of this rule occurs when a field name begins with an underscore.
dotnet_diagnostic.SA1309.severity = none

# The name of a variable in C# does not begin with a lower-case letter.
dotnet_diagnostic.SA1312.severity = none

# The name of a parameter in C# does not begin with a lower-case letter.
dotnet_diagnostic.SA1313.severity = none

# A call to Debug.Assert in C# code does not include a descriptive message.
dotnet_diagnostic.SA1405.severity = none

# A C# statement contains a complex arithmetic expression which omits parenthesis around operators.
dotnet_diagnostic.SA1407.severity = none

# Braces for multi-line statements should not share line.
# I.e. private string Foo { get => field; } = string.Empty; // would normally cause a false positive.
# Reason: Generates false positives for .NET10 getter/setters that use a property with an initial value.
dotnet_diagnostic.SA1500.severity = none

# The opening and closing braces for a C# statement have been omitted.
dotnet_diagnostic.SA1503.severity = none

# The C# code contains multiple blank lines in a row.
dotnet_diagnostic.SA1507.severity = none

# A single-line comment within C# code is followed by a blank line.
dotnet_diagnostic.SA1512.severity = none

# A closing brace within a C# element, statement, or expression is not followed by a blank line.
dotnet_diagnostic.SA1513.severity = none

# A single-line comment within C# code is not preceded by a blank line.
dotnet_diagnostic.SA1515.severity = none

# The opening and closing braces for a multi-line C# statement have been omitted.
dotnet_diagnostic.SA1519.severity = none

# The opening and closing braces of a chained if/else if/else construct were included for some clauses, but omitted for others.
dotnet_diagnostic.SA1520.severity = none

# An item within a C# enumeration is missing an Xml documentation header.
dotnet_diagnostic.SA1602.severity = none

# The Xml header documentation for a C# property does not contain a <value> tag.
dotnet_diagnostic.SA1609.severity = none

# A C# method, constructor, delegate or indexer element is missing documentation for one or more of its parameters.
dotnet_diagnostic.SA1611.severity = none

# A C# element is missing documentation for its return value.
dotnet_diagnostic.SA1615.severity = none

# A generic C# element is missing documentation for one or more of its generic type parameters.
dotnet_diagnostic.SA1618.severity = none

# A generic, partial C# element is missing documentation for one or more of its generic type parameters, and the documentation for the element contains a <summary> tag.
dotnet_diagnostic.SA1619.severity = none

# The documentation text within a C# property's <summary> tag does not match the accessors within the property.
dotnet_diagnostic.SA1623.severity = none

# A section of the Xml header documentation for a C# element does not end with a period (also known as a full stop).
dotnet_diagnostic.SA1629.severity = none

# A section of the Xml header documentation for a C# element does not contain any whitespace between words.
dotnet_diagnostic.SA1630.severity = none

# A section of the Xml header documentation for a C# element does not contain enough alphabetic characters.
dotnet_diagnostic.SA1631.severity = none

# A section of the Xml header documentation for a C# element is too short.
dotnet_diagnostic.SA1632.severity = none

# A C# code file is missing a standard file header.
dotnet_diagnostic.SA1633.severity = none

# The file header at the top of a C# code file is missing a copyright tag.
dotnet_diagnostic.SA1634.severity = none

# The XML documentation header for a C# constructor does not contain the appropriate summary text.
dotnet_diagnostic.SA1642.severity = none

# The Xml documentation header for a C# finalizer does not contain the appropriate summary text.
dotnet_diagnostic.SA1643.severity = none


# Don't analyze any database migrations
[**/Migrations/*.cs]
generated_code = true
dotnet_diagnostic.CS1591.severity = none