<?xml version="1.0" encoding="utf-8"?>
<!-- Put this file in the same directory as your *.sln (or *.csproj if you have no solution file) -->
<!-- If you use the online NuGets instead, then you may optionally delete this file -->
<configuration>
  <packageSources>
    <add key="Elephant NuGet Repository" value="E:\VS_Projects\NuGets" /> <!-- Change the value to the directory that contains all local *.nupkg files. -->
  </packageSources>
</configuration>